---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<button class=" bg-gradient-to-b from-orange-400 to-orange-500 font-semibold rounded-md py-2 px-3 text-sm text-white hover:bg-gradient-to-b hover:from-orange-500 hover:to-orange-500">
    {text}
</button>