---
import Recipe from "./Recipe"
---

<main class="hidden md:block md:flex-1 relative">
    <div class='h-96 w-48 bg-gray-200 rounded-md absolute right-10 -z-10'>
    </div>
    <div class="flex items-center justify-center ">
         <Recipe client:load/>
    </div>
</main>