---
import Enquiry from "./Enquiry";
import Newsletter from "./Newsletter.astro";
import Preparation from "./Preparation.astro";
import Products from "./Products.astro";
import Services from "./Services.astro";
---

<main class="my-20">
  <Enquiry />
  <Products />
  <Services />
  <Preparation />
  <Newsletter />
</main>

<style></style>
