---
import Enquiry from "./Enquiry";
import Products from "./Products.astro"
import Services from "./Services.astro"
---

<main class="my-20">
  <Enquiry />
  <Products/>
  <Services/>
</main>

<style></style>
