---
import NewsletterInput from "./NewsletterInput"
import burger from "../../assets/burger3.jpg"
---

<main class="my-10 bg-black w-full md:h-48 rounded-md p-8 flex flex-col md:flex-row overflow-hidden relative">
    <div class="hidden md:flex md:flex-1">
        <img src={burger.src} alt="burger" class="w-60 h-48 -top-2 lg:w-96 lg:h-72 absolute lg:-top-20 ">
        <!-- banner image -->
    </div>

    <NewsletterInput/>

</main>