---

---

<main>
    <h2 class="text-center text-sm text-primary font-semibold">How It Works</h2>
    <p class="text-center text-2xl font-bold">Food is an important part of a balanced diet</p>
</main>