---
import ServiceItem from "./ServiceItem";
---

<main class="my-10" id="services">
  <p class="text-center text-sm text-primary font-semibold">Services</p>
  <p class="text-center text-2xl font-bold">Why choose our favorite Recipe</p>

  <section class="">
    <ServiceItem />
  </section>
</main>
