---
import Layout from "../layouts/Layout.astro";
import CheckoutInput from "../components/basket/Checkout";
---

<Layout title="Foodmart - Checkout">
    <main class="max-w-[1028px] mx-auto font-sans px-4 my-4 flex items-center justify-center h-[80vh]">
        <div class="w-full h-96 xs:shadow-custom xs:w-80 md:w-96 md:h-96 p-4 ">
            <p class="font-bold text-2xl mb-20">Checkout</p>
            <h2 class="text-primary font-bold text-lg">Input your email address</h2>
            <CheckoutInput/>
        </div>
    </main>
</Layout>