---
import Layout from '../layouts/Layout.astro';
import "@/styles/global.css"
import { Button } from "@/components/ui/button"
---

<Layout title="Coldmetal - Tools">
	<main>
		<h1 class="text-center">Welcome to cold metal tools</span></h1>
	</main>
	<Button>Hello Brothers</Button>
</Layout>

<style>
	
</style>
