---
import Body from "../components/Body/Body.astro";
import Hero from "../components/Hero/Hero.astro";
import Header from "../components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Food Mart">
  <main class="max-w-[1028px] mx-auto font-sans px-4">
    <Header />
    <Hero />
    <Body/>
  </main>
</Layout>

<style></style>
