---
import Logo from "../../assets/Untitled-1 1.png";
import Navbar from "./Navbar";
import NavAction from "./NavAction";
---

<main class="h-14 flex justify-between items-center py-2" id="home">
  <img src={Logo.src} alt="logo" height="60" width="60" />

  <NavAction client:load/>

  <Navbar client:load />
</main>
