---
---

<main class="">
    <!-- open menu icon -->
    <button class="bg-orange text-lg font-semibold text-white rounded-sm p-2" id="openMenu">Open</button>

    <ul class=" -translate-x-[100vw] w-full bg-black transition ease-in-out duration-1000" id="menu">
        <a href="#jdj" class=" font-semibold text-lg"><li>Home</li></a>
        <a href="#jhdsjhjhds" class=" font-semibold text-lg"><li>Menu</li></a>
        <a href="#jhdjhsjhd" class=" font-semibold text-lg"><li>Services</li></a>
        <a href="#jhdhjhs" class=" font-semibold text-lg"><li>Shop</li></a>
    </ul>
</main>

<style>
    .openMenuToggle{
        @apply translate-x-[0]
    }
</style>

<script>
    const openMenu = document.getElementById("openMenu")
    const menu = document.getElementById("menu")

    openMenu?.addEventListener("click", () => {
        console.log("click data")
        menu?.classList.toggle("openMenuToggle")
    })
</script>